<section class="section container">
  <div class="columns">
    <div class="column">
      {{!-- login form --}}
      <form class="box" action="">
        <h2 class="title content">What's New?</h2>
        <div class="field">
          <label class="label" for="postTitle">Title</label>  
            <input class="input" type="text" id="postTitle">
        </div>

        <div class="field">
          <label class="label" for="postContent">write here:</label>  
            <input class="input" type="text" id="postContent">
        </div>

        <button class="button is-primary" onclick="makePost()">Post</button>
      </form>
    </div>