{{!-- try to remove form tags,  --}}

  <div class="field">
      <h3>Sign up!</h3>
    <label class="label">Email</label>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input type="email" name="email" class="input is-medium" id="email" required>
        </p>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Username</label>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input type="email" name="email" class="input is-medium" id="username" required>
        </p>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input type="password" name="email" class="input is-medium" id="password" required>
        </p>
      </div>
    </div>
  </div>
  <button class="button is-medium is-primary" onclick="signUpHandler()">Sign Up</button>


