<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelf Life</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header><h1>Shelf Life</h1></header>



    {{{ body }}}




<footer>
    Thanks for visiting!
</footer>

<script src="/javascript/signup.js"></script>
</body>
</html>