<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelf Life</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>Shelf Life</header>



    {{ stuff }}




<footer>
    Thanks for visiting!
</footer>

</body>
</html>