    <!-- start title -->
    <section class="section">
            <h1 class="title is-1">Shelf Life</h1>
    </section> 
    
    <!-- start hero -->
    <section class="hero level">
        <div class="hero-body">
            <figure class="level">
                <img src="/images/shelf-life-bg.jpg" alt="books on shelves">
            
            </figure>
            <!-- start the about -->
            <h3 class="subtitle is-">What is it?</h3>
        
            <p class="subtitle is-5">Shelf life is intended for those looking to broaden their horizons in literature and other facets of reading.</p>
        </div>
        
        
    </section>

<section class="section">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-10">
                <div class="tile">
                    <div class="tile is-parent is-vertical">

                        <article class="tile is-child notification">
                            <h4 class="title">It's free to sign up!</h4>
                            <p>Discuss your favorite books, novels, comics, manga and more!</p>
                        </article>

                        <article class="tile is-child notification">
                            <h4 class="title">Share your favorites, your thoughts or both!</h4>
                        </article>
                    </div>

                    <div class="tile is-parent">
                        <div class="tile is-child notification">
                            <ul>
                                <li>See what books others are reading!</li>
                                <li>Share what you enjoy!</li>
                                <li>Gain more star levels as you post and interact!</li>
                                <li>Grow your enthusiasm with others and most importantly have fun.</li>
                                <li>**Featuring a profanity filter</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{{>signup}}


