<section class="hero is-primary is-small"> 
      
      <!-- Hero content: will be in the middle -->
      <div class="hero-body" style="max-height: fit-content;">
        <div class="container has-text-centered">
          <figure class="image-is-centered" alt="logo-image">
            <img src="./images/shelflifelogo.png" style="max-height: 5vw; min-height: 33px; max-width: 5vw; min-width: 50px;">
          </figure>
          <p class="title has-text-centered is-3">Welcome to Shelf Life!</p>
          <p class="subtitle has-text-centered is-5">Take a look around, see what's new, and update your friends.</p>
        </div>
      </div>
     
      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
        <nav class="tabs">
          <div class="container">
            <ul>
              <li class="is-active"><a>Overview</a></li>
              <li><a>Modifiers</a></li>
              <li><a>Grid</a></li>
              <li><a>Elements</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </section>




