<section class="section container">
  <div class="columns">
    <div class="column">
      {{!-- login form --}}
      <form class="box loginForm">
        <h2 class="title content">Login</h2>
        <div class="field">
          <label class="label" for="email">Email</label>  
            <input class="input" type="email" id="emailLogin">
        </div>

        <div class="field">
          <label class="label" for="email">Password</label>  
            <input class="input" type="password" autocomplete="on" id="passwordLogin">
        </div>

        <button class="button is-primary" onclick="loginFormHandler()">Login</button>
      </form>
    </div>
    
    <div class="column">
       <form class="box signUpForm">
         <h2 class="title content">Sign Up</h2>
        <div class="field">
            <label class="label" for="username">Username</label>
            <div class="control">
                <input class="input" type="text" placeholder="Merlin's Owl" id="username">
            </div>
        </div>

        <div class="field">
            <label class="label" for="username">Email</label>
            <div class="control">
                <input class="input" type="email" placeholder="thewiz@archimedes.com" id="email">
            </div>
        </div>

        <div class="field">
            <label class="label" for="username">Password</label>
            <div class="control">
                <input class="input" type="password" placeholder="...must be unique" id="password">
            </div>
        </div>
        <button class="button is-medium is-primary" onclick="signUpHandler()">Sign Up</button> 

      </form>
    </div>

  </div>
</section>

<script src="/public/javascript/signup.js"></script>